{{ define "main" }}
  <article class="post section">
    {{ if or (eq .Section "resources") (eq .Section "protocols") }}
      <p class="back-link-wrapper">
        <a class="back-link" href="{{ relLangURL "resources/" }}">← Back to resources</a>
      </p>
    {{ end }}

    <header class="post-header">
      <h1>{{ .Title }}</h1>
      {{ if not .Date.IsZero }}
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}" class="post-date">{{ $dateHuman }}</time>
      {{ end }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </header>

    <div class="prose">
      {{ .Content }}
    </div>
  </article>
{{ end }}
