{{- $styles := slice
    (resources.Get "css/main.css")
    (resources.Get "css/nav.css")
    (resources.Get "css/hero.css")
    (resources.Get "css/news.css")
    (resources.Get "css/publications.css")
    (resources.Get "css/philosophy.css")
    (resources.Get "css/custom.css")
-}}
{{- $bundle := $styles | resources.Concat "css/site.css" | resources.Minify | resources.Fingerprint -}}

<style>
  :root {
    --highlight-color: {{ site.Params.highlightColor | default "#b78b2c" }};
    --highlight-text-color: {{ site.Params.highlightTextColor | default "#271400" }};
  }
</style>

{{/* Preload not strictly needed if the stylesheet is render-blocking in head, but if kept, needs integrity to match */}}
<link rel="preload" href="{{ $bundle.RelPermalink }}" as="style" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous">
