{{/*
    Shortcode to display a publication from data/publications.json
    Usage: {{< publication "publication_id" >}}
*/}}
{{- $pubId := .Get 0 -}}
{{- $pub := index .Site.Data.publications $pubId -}}

{{- if $pub -}}
<div class="publication">
    <p>
        {{ $pub.authors }} ({{ $pub.year }}). {{ $pub.title }}.
        <em>{{ $pub.journal }}</em>{{ with $pub.volume }}, {{ . }}{{ end }}{{ with $pub.pages }}, {{ . }}{{ end }}.
        {{- with $pub.link }} [<a href="{{ . }}" target="_blank" rel="noopener">link</a>]{{- end }}
    </p>
</div>
{{- end -}}