{{/* Publication shortcode with JSON or BibTeX support */}}
{{- $file := .Get "file" | default "publications.json" -}}
{{- $entries := slice -}}
{{- if hasSuffix $file ".bib" -}}
  {{- $bib := readFile (printf "data/%s" $file) -}}
  {{- $raw := findRE "@[^{]+\{[^@]+" $bib -}}
  {{- range $raw }}
    {{- $entry := . -}}
    {{- $title := replaceRE "(?s).*title\\s*=\\s*\\{([^}]*)\\}.*" "$1" $entry -}}
    {{- $authors := replaceRE "(?s).*author\\s*=\\s*\\{([^}]*)\\}.*" "$1" $entry -}}
    {{- $journal := replaceRE "(?s).*journal\\s*=\\s*\\{([^}]*)\\}.*" "$1" $entry -}}
    {{- $year := replaceRE "(?s).*year\\s*=\\s*\\{([^}]*)\\}.*" "$1" $entry -}}
    {{- $entries = $entries | append (dict "title" $title "authors" $authors "journal" $journal "year" $year) -}}
  {{- end -}}
{{- else -}}
  {{- $name := replaceRE "\\.json$" "" $file -}}
  {{- $entries = index site.Data $name -}}
{{- end -}}
<ol class="publications-list">
{{- range $index, $pub := $entries }}
  <li class="publication-item">
    <span class="pub-title">{{ $pub.title }}</span><br>
    <span class="pub-authors">{{ $pub.authors }}</span><br>
    <span class="pub-journal">{{ $pub.journal }}</span>,
    <span class="pub-year">{{ $pub.year }}</span>
  </li>
{{- end }}
</ol>
