{{/*
  Renders a list of publications from data/publications.json.
  Usage: {{< publications >}}
*/}}

{{- $pubs := site.Data.publications -}}

{{- if not $pubs -}}
  {{- errorf "Could not find publications data in data/publications.json." -}}
{{- else -}}
<ol class="publications-list">
  {{- range sort $pubs "year" "desc" -}}
    {{- $p := . -}}
    <li class="publication-item">
      <div class="pub-text">
        <p class="pub-title">{{ $p.title | plainify }}</p>
        {{- $authors := $p.authors | plainify -}}
        {{- range $name := $p.highlight -}}
          {{- $authors = replace $authors $name (printf "<strong>%s</strong>" $name) -}}
        {{- end -}}
        <p class="pub-authors">{{ $authors | safeHTML }}</p>
        <p class="pub-meta"><em>{{ $p.journal | plainify }}</em> ({{ $p.year }}) {{- with $p.link -}}[<a href="{{ . }}" target="_blank" rel="noopener">link</a>]{{- end -}}</p>
      </div>
      {{- with $p.image -}}
      <div class="pub-image">
        <img src="{{ . }}" alt="illustration for {{ $p.title | plainify }}">
      </div>
      {{- end -}}
    </li>
  {{- end -}}
</ol>
{{- end -}}
